li{
  display: grid;
  grid-template-columns: 0.5fr 8fr 1fr;
  border: 1px solid white;
  font-size: 3vw;
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style: none;

  span{
    padding: 5px;
  }

  .check{
    width: 90%;
    height: 90%;
  }

  .text {
    background-color: #1A1A1A;
    color: rgb(201, 201, 201);
    font-size: 3vw;
  }

  button {
    width: 100%;
    height: 100%;
    font-size: 25px;
    cursor: pointer;
  }
}

.complete {
  background-color: rgb(104, 104, 104);
}

li > button {
  opacity: 0;
}

li:hover > button {
  opacity: 1;
}
