.lists {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  padding: 0;
  border: 1px solid white;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  position:relative;
  .formInput{
    height:10%;
    width: 100%;
  }
}
